* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 0px, 30px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;

    background-image: url(../img/background.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

a {
    text-decoration: none;
    color: #ffffff;
    cursor: nesw-resize;
    cursor: sw-resize;
}

button {
    border: none;
    cursor: nesw-resize;
    cursor: sw-resize;
}

a:focus,
button:focus {
    outline: 0;
}


.body_cont {
    width: 90vw;
    position: relative;
    border-bottom: 1px solid #472D2D;
    background-color: #fff;
    max-width: 1480px;
    margin: 0 auto;
}

.section_title {
    color: #694E4E;
    font-size: 3.5vw;
    letter-spacing: 0.8vw;
    text-transform: uppercase;
    display: block;
    position: relative;
    left: -5vw;
}

.section_title::before {
    content: "A";
    display: inline-block;
    color: #C1A3A3;
    font-size: 10vw;
    opacity: 0.3;
    transform: translateX(8vw);
}

.section_title::after {
    content: "";
    display: inline-block;
    height: 2px;
    width: 20vw;
    background-color: #C1A3A3;
    position: absolute;
    left: 27vw;
    bottom: 0;
}


/* navbar_CSS Start */

#navbar {
    display: flex;
    width: 100%;
    /* max-width: 100%; */
    height: 50px;
    background-color: #472D2D;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
    /* margin-top: 10px;      only for logo */
}

[class ^="nav_item-"] ul {
    list-style-type: none;
    width: 40vw;
    display: flex;
    justify-content: space-evenly;
}

.nav_link {
    text-decoration: none;
    padding: 5px 25px;
    border: 2px solid #e0d9db;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    transition: 0.3s ease;
    font-size: 1rem;
}

.nav_link:hover {
    background-color: #fff;
    border: 2px solid #9c9b9c;
    color: #694E4E;
    box-shadow: 0px 0px 10px 0px #9c9b9c;
}

.logo_main {
    height: 50px;
    padding: 0 20px;
}

.logo_main:hover {
    transform: scale(1.2) translateY(5px);
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #ffffff;
    border-radius: .25rem;
}

.hamburger {
    display: none;
    padding: 0px 20px;
}

/* navbar_CSS End */

/* Welcome_section*/

#welcome-section {
    height: 100vh;
    min-height: 700px;
    width: 100vw;
    max-width: 100%;
    position: relative;

}

.welcome-part {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    padding: 10px;
    border: 3px solid #816b6b;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 25px;
    color: #694E4E;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

.profile_box,
.welcome-btn {
    text-align: center;
}

.profile_photo-1 {
    width: 200px;
}

.heading_box {
    font-family: 'Lato', sans-serif;
    line-height: 1.5;

}

.heading-main {
    display: block;
    font-size: 80px;
    font-weight: 400;
    letter-spacing: 45px;
    text-transform: uppercase;
}

.heading-sub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 12.6px;
}

.logos {
    display: flex;
    justify-content: space-evenly;
}

[class ^="logo-"] {
    margin: 30px 0;
    height: 20px;
    transition: transform 0.2s;
}

[class ^="logo-"]:hover {
    transform: scale(1.5);
}

.btn:link,
.btn:visited {
    text-decoration: none;
    padding: 10px 50px;
    border-radius: 10px;
    display: inline-block;
    transition: all 0.2s;
    width: 50%;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgb(0, 0, 0, 0.8);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.8);
}


.round {
    position: absolute;
    border: 2px solid #694E4E;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -20%);
}

.arrow_container {
    width: 100%;
    position: absolute;
    text-align: center;
}

.arrow {
    border: solid #694E4E;
    border-width: 0 3px 3px 0;
    padding: 3px;
    display: inline-block;
    height: 12px;
    width: 12px;
    transform: rotate(45deg);
}


@keyframes bounceAlpha {
    0% {
        opacity: 1;
        transform: translateY(0px) trscale(1);
    }

    25% {
        opacity: 0;
        transform: translateY(10px) scale(0.9);
    }

    26% {
        opacity: 0;
        transform: translateY(-10px) scale(0.9);
    }

    55% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

.bounceAlpha {
    animation-name: bounceAlpha;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    display: block;
}

.primera.bounceAlpha {
    animation-delay: 0.2s;
}


.btn-cv {
    background-color: #694E4E;
    color: #fff;
}

/*Welcome_section Ends */

/* About_section */

#about .body_cont {
    border-radius: 1rem 1rem 0 0;
}

.profile_photo-2 {
    position: relative;
    height: 400px;
    box-shadow: 0.3rem 0.3rem #694E4E;
}

.about-details {
    color: #886F6F;
    word-spacing: 5px;
    line-height: 2;
    font-size: 1.15rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 50px;
    padding: 60px;
}

.about-name {
    color: #694E4E;
    font-size: 30px;
}

.about-occupation {
    font-style: italic;
    color: #886F6F;
}

.sub_detail_heading {
    color: #472D2D;
    font-size: 20px;
    width: 150px;
    display: inline-block;
}

.sub_detail_heading::before {
    content: "❖ ";
    /* position: absolute; */
    left: 0px;
    color: #F08FC0;
    font-size: 1rem;
    line-height: 12px;
}

.sub_detail_info {
    /* width: 350px; */
    display: inline-block;
}

.about_sub_container {
    margin: 40px 0;
}

.sub_detail_info .mail {
    color: inherit;
    letter-spacing: 0;
}

.sub_detail_info .mail:hover {
    color: #F3C5C5;
}

/*About_section Ends */

/* Project_section */

#project {
    max-width: 100%;
    /* background-color: #888; */
    /* padding-bottom: 30px; */
}

#project .section_title::before {
    content: "P";
    transform: translateX(6.5vw);
}

.projects {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
}

[class ^="project-"] {
    min-height: 300px;
    max-width: 300px;
    background-color: #fff;
    /* background-color: #e9e9e9; */
    border: 1px solid #816b6b;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    transition: transform 0.5s;
}

[class ^="project-"]:hover {
    transform: translate(-5px, -5px);
    /* transform: scale(1.2); */
    box-shadow: .4rem .4rem #757474;
}

[class ^="project-"] h6 {
    position: relative;
    top: 9%;
}

[class ^="project_img-"] {
    height: 100px;
    max-width: 300px;
    background: url(../img/background.png);
    background-size: cover;
}

.project_heading {
    color: #472D2D;
    font-weight: 900;
    text-align: center;
    line-height: 2;
}

.project_decribtion {
    font-size: 1.2rem;
    line-height: 1.2;
    min-height: 100px;
    color: #886F6F;
}

.technology {
    list-style-type: none;
    color: #F3C5C5;
    display: flex;
    justify-content: end;
}

[class ^="technology-"] {
    margin: 10px;
}

.project_source_link {
    text-align: end;
    position: relative;
    left: -5%;
    top: 2%;
}

.project_source_link_icon {
    height: 30px;
}

.project_source_link_icon:hover {
    transform: scale(1.2);
}

/*Project_Section Ends */

/* Art_Section */

#art {
    max-width: 100%;
}

#art .section_title::after {
    left: 15.5vw;
}

.arts {
    margin: 50px 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-gap: 30px;
    justify-content: center;
}

.unit_art {
    height: 300px;
    border-radius: 10px;
    border: 1px solid #fff;
}

.unit_art:hover {
    border: 1px solid #816b6b;
    box-shadow: .25rem .25rem #816b6b;
}

/* Art_Section Ends */

/* Conact_Section */

.container-box {
    margin: 20px auto;
}

#contact p {
    text-align: center;
    font-weight: normal;
    margin: 10px 0 0 0;
    color: #886F6F;
    font-size: 1.2rem;
}

#contact .body_cont {
    border-bottom: 1px solid #fff;
    border-radius: 0 0 1rem 1rem;
}

.container-box .sub_heading h3 {
    color: #694E4E;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
}

.contact-text,
.contact-mail {
    display: inline-block;
    width: 49%;
}

.contact-text {
    transform: translateY(-80%);
}

.contact-mail {
    border-left: 1px solid #d4d4d4;
    padding: 0 25px;
}

.form_group {
    margin: 5px 0;
}

.form_group .typing_area,
.form_group .typing_area {
    border: 3px solid #fff;
    background-color: #FFEACA;
    display: block;
    width: 95%;
    border-radius: 25px;
    color: #694E4E;
    font-size: 1rem;
    /* border-bottom: 3px solid transparent; */
}

.form_group input,
.form_group textarea {
    padding: 0.8rem 1rem;
}

.form_group textarea {
    height: 150px
}

.form_group label {
    margin: 10px 20px;
    font-size: 1rem;
    letter-spacing: 2px;
    margin-bottom: 10px;
    display: block;
    color: #886F6F;

}

.form_group input:focus,
.form_group textarea:focus {
    border-bottom: 3px solid #FFEACA;
    outline: none;
}

.form_group input:focus:invalid,
.form_group textarea:focus:invalid {
    border-bottom: 3px solid #F08FC0;

}

.btn-submit {
    text-decoration: none;
    padding: 10px 50px;
    border-radius: 10px;
    display: inline-block;
    transition: all 0.2s;
    background: #694E4E;
    color: white;
}

/*Conact_Section Ends */
#footer {
    text-align: center;
    line-height: 1.5;
    font-size: 1.2rem;
    letter-spacing: 1px;
    padding: 30px;
    color: #694E4E;
}

.footer_greet {
    padding-bottom: 20px;
}

.quote_auth {
    font-size: 1rem;
    color: #886F6F;
}


#contact .section_title::before {
    content: "C";
}

#contact .section_title::after {
    left: 32vw;
}

/* Conact_Section Ends */

@media (max-width: 1040px) {
    .profile_photo-2 {
        height: 300px;
    }

    .profile_photo-2 {
        display: block;
        margin: 20px auto;
    }

    .about-details {
        display: block;
        padding: 60px 40px;
    }

    .about-name {
        font-size: 20px;
    }

    .about-occupation {
        font-size: 15px;
    }

    .unit_art {
        border: 1px solid #816b6b
    }
}

@media (max-width: 720px) {
    #navbar {
        justify-content: space-between;
    }

    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav_item-1,
    .nav_item-3 {
        position: fixed;
        left: -100%;
        background-color: transparent;
        width: 100%;
        height: 50px;
        text-align: center;
        transition: 0.3s;
    }

    .nav_item-1 {
        top: 50px;
    }

    .nav_item-3 {
        top: 100px;
    }

    .nav_item-1.active,
    .nav_item-3.active {
        background-color: #472D2D;
        left: 0px;
    }

    .nav_item-1.active ul,
    .nav_item-3.active ul {
        margin: 15px auto;
    }

    .welcome-part {
        box-shadow: none;
    }

    .heading-main {
        letter-spacing: 9px;
        font-size: 76px;
    }

    .heading-sub {
        /* letter-spacing: 6px; */
        letter-spacing: 4px;
        text-align: center;
    }

    [class ^="project-"] {
        min-width: 300px;
    }

    .contact-text,
    .contact-mail {
        display: block;
        width: 100%;
    }

    .contact-mail {
        border-left: none;
        border-top: 1px solid #d4d4d4;
    }

    .contact-text {
        transform: translateY(0);
    }

    #contact .form {
        margin-top: 20px;
    }

    #contact .container-box {
        margin: 50px 10px;
    }

}